<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LeatherColombia</title>


    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="Active" asp-controller="Home" asp-action="Index" class="navbar-brand">LeatherColombia</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="" asp-action="Italcur">Italcur</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="CueroAzul">Cuero en Azul</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="CueroPelo">Cuero en Pelo</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="CueroCrosta">Cuero en Crosta</a></li>
                    @*@<li>

            <div class="btn-group">
                <button type="button" asp-controller="Home" asp-action="CueroTerminado" class="btn btn-default">Cuero Terminado</button>

                <button type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Desplegar menú</span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Acción #1</a></li>
                    <li><a href="#">Acción #2</a></li>
                    <li><a href="#">Acción #3</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Acción #4</a></li>
                </ul>
            </div>
        </li>*@



                    <li>

                        @*<button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Desplegar menú</span>
                        </button>*@
                        <a asp-area="" class="" aria-labelledby="" asp-controller="Home" asp-action="CueroTerminado">Cuero Terminado</a>
                        <ul class="dropdown-toggle">
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="CueroAuto">Cuero para Autos</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="CueroCalzado">Cuero para Calzado</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="CueroMarroquineria">Cuero para Marroquineria</a></li>
                        </ul>
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Ecologicos">Ecologicos</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contactenos">Contactenos</a></li>


                    <li><a asp-area="" asp-controller="Clientes" asp-action="">Clientes</a></li>
                    <li><a asp-area="" asp-controller="Ciudades" asp-action="">Ciudad</a></li>
        <li><a asp-area="" asp-controller="DetallePedidos" asp-action="">Detalle Pedido</a></li>
        <li><a asp-area="" asp-controller="MetodoPagos" asp-action="">Formas de Pago</a></li>
        <li><a asp-area="" asp-controller="Pais" asp-action="">Paises</a></li>
        <li><a asp-area="" asp-controller="Pedidos" asp-action="">Pedidos</a></li>
                    <li><a asp-area="" asp-controller="Productos" asp-action="">Productos</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - LeatherColombia</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/contact_me.js"></script>
        <script src="~/js/jqBootstrapValidation.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
