
@{
    ViewData["Title"] = "CueroCrosta";
}

<h2>CueroCrosta</h2>


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cuero en Crosta</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="" ></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
                 


                
            </div>
       
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Cuero Crosta
            <small></small>
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Inicio</a>
            </li>
            <li class="breadcrumb-item active">Services</li>
        </ol>

        <!-- Image Header -->
        <img class="img-fluid rounded mb-4 modal-open img-responsive" src="~/images/nuestros-tipos-cuero-natural-b003.jpg" alt="">
        <p class="card-text"> adipisicing elit. Voluptatibus saepe velit itaque porro pariatur amet temporibus ratione cupiditate nam delectus placeat perferendis, doloremque aspernatur ab laboriosam recusandae expedita laborum eveniet?</p>

        <!-- Marketing Icons Section -->





        <div class="row">

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top img-responsive" src="~/images/crosta_3 (1).jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">cuerooo</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, eos. Dolores asperiores, optio sit blanditiis doloribus eveniet atque necessitatibus libero voluptate, numquam soluta earum suscipit, dolore incidunt aspernatur sunt architecto?</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top img-responsive" src="~/images/crosta_3 (2).jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">cuerooo</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, eos. Dolores asperiores, optio sit blanditiis doloribus eveniet atque necessitatibus libero voluptate, numquam soluta earum suscipit, dolore incidunt aspernatur sunt architecto?</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top img-responsive" src="~/images/crosta_3 (3).jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">cuerooo</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, eos. Dolores asperiores, optio sit blanditiis doloribus eveniet atque necessitatibus libero voluptate, numquam soluta earum suscipit, dolore incidunt aspernatur sunt architecto?</p>
                    </div>
                </div>
            </div>




            <!-- /.row -->

        </div>
        <!-- /.container -->
        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
            </div>
            <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>

