
@{
    ViewData["Title"] = "CueroPelo";
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
   

    <title>Cuero en Pelo </title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/modern-business.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src=""> </a>
            
          
                 


               
            </div>
       
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Cuero en Pelo
            <small></small>
        </h1>



        <!-- Image Header -->
        <img class="img-fluid rounded mb-12 col-md-12 modal-open img-responsive" src="~/images/cuero-en-pelo-leathercol-007.jpg" alt="">
        <br />
        <br />
  
        <h4 class="card-title ">Cuero en Pelo</h4>
        <p class="card-text">Aqui podemos ver varios ejemplares de nuestro oferta de cuero en Pelo, basicamente nos basamos en que la calidad sea lo primero para que nuestros clientes adquieran un producto verdaderamente bueno 100% garantizado. </p>
        <br />
        <br />
        <br />

        <!-- Marketing Icons Section -->





        <div class="row">

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top img-responsive" src="~/images/MG_2491-7-4_pel2.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Cuero de bovino de clima caliente tipo Cebu</h4>
                        <p class="card-text">Cuero tipo Calentano o cebu se caracteriza por ser muy grande y pesado</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top img-responsive" src="~/images/MG_2576-7-29_pel1.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Cuero de Bovinos de clima frio</h4>
                        <p class="card-text">Cuero tipo ganado de tierra fria es decir su contextura es mas pequeña pero su calidad es muchisimo mayor a cualquier otro, el cuero se deja trabajar muchisimo mejor y aumenta su demanda</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top img-responsive" src="~/images/MG_2678_pel6.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Cojin o almohada 100% cuero</h4>
                        <p class="card-text">Aqui podemos ver un producto confeccionado 100% con ganado de nuestra zona almeidas este producto ronda entre los 150 y 200 Dolares</p>
                    </div>
                </div>
            </div>




            <!-- /.row -->

        </div>
        <!-- /.container -->
        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
            </div>
            <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
