
@{
    ViewData["Title"] = "Italcur";
}

<h2>Italcur</h2>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Italcur: italcur</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        
        
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Nuestra Organizacion
            <small></small>
        </h1>



        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4 img-responsive" src="~/images/valla_home.jpg" src="https://www.italcur.com/wp-content/uploads/2017/08/cuero-liso.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <h2>Nuestra Trayectoria</h2>
                <p>Apasionados por la piel, expertos con  más de 40 años curtiendo pieles y perfeccionando este noble oficio .</p>
                <p></p>
                <p></p>
                <img class="img-responsive" src="~/images/Cuero-de-vaca-atigrado-.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->
        <!-- Team Members -->
        <h2>Nuestro Equipo de Trabajo</h2>

        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top img-responsive" src="~/images/Manuel-Gil.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Manuel Gil</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Gerente General</h6>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <a href="#">manuel12@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top img-responsive" src="~/images/Edgar-Gil-curtiembre.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Edgar Gil</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Gerente de Ventas</h6>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <a href="#"> edgar45@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top img-responsive" src="~/images/super.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Henry y Sebastian Gil</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Ingeniero y Supervisor</h6>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <a href="#">name@example.com</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Our Customers -->
        <!-- <h2>Our Customers</h2>
        <div class="row">
          <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </div>
          <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </div>
          <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </div>
          <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </div>
          <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </div>
          <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </div>
        </div> -->
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
